@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Management System</h1>
    <p>Platform for managing exams for students and professors .</p>
</div>
